services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - API_BASE_URL=${API_BASE_URL:-http://0.0.0.0:8080}
    ports:
      - "8080:8080"
    volumes:
      - ./:/app
    command: uvicorn api.main:app --host 0.0.0.0 --port 8080
